@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=The+Nautigal&family=Yellowtail&display=swap');
@media only screen and (max-width: 750px) {
  img { max-width: 100%; }
}

*{
    color: white;
    font-size: 15px;
    
}



/* Header */
header{
    background-image: url(../image/lovegraph_7.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 21rem;
    padding-bottom: 21rem;
}

h1{
    font-family: 'Dancing Script';
}




/* .demo {
    width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;
    color: white;
  }
.heading {
    margin: 10px 0
  }
.demo3 .heading {
    color: white;
    text-align: center;
    overflow: hidden;
  }
.demo3 .heading span {
    display: inline-block;
    position: relative;
  }
.demo3 .heading span:before,
.demo3 .heading span:after {
    content: "";
    border-bottom: 2px solid white;
    width: 45px;
    margin: 0 15px;
    position: absolute;
    bottom: 13px;
  }
.demo3 .heading span:before {
    right: 100%;
  }
.demo3 .heading span:after {
    left: 100%;
  } */






/* Message */
.message{
  background: linear-gradient( rgba(215, 216, 210, 0.9), rgba(71, 164, 198, 0.9) ), url(../image/lovegraph_28.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

h2{
  font-family:'Times New Roman', Times, serif
}

.message p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Kazuki Profile */
.profile{
  background: linear-gradient( rgba(71, 164, 198, 0.9), rgb(88, 168, 212, 1));
}

.profile_content1{
  position: relative;
}

.image_kazuki{
  position: relative;


}

.image_kazuki .img01{
  width: 60%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 15%;
  right: 5%;
  z-index: 1;
    
}

.image_kazuki .img02{
  width: 70%;
  height: 300px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}


/* message */
.englishname{
  position: relative;
  
}

.english_lastname{
  position: relative;
  left: 7%;
}





/* Ami */
.profile_content2{
  position: relative;
}

.image_ami{
  position: relative;
}

.image_ami .img01{
  width: 60%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 10%;
  z-index: 1;
    
}

.image_ami .img02{
  width: 60%;
  height: 300px;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 40%;
  z-index: 0;
}



.wf-roundedmplus1c { font-family: "M PLUS Rounded 1c"; }

/* Picture Space */
.picture_space {
    background-image: url(../image/lovegraph_155.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
}


/* Event Space */
.event{
    background: linear-gradient( rgba(132, 167, 120, 0.9), rgba(7, 177, 229, 0.7));
    padding-bottom: 4rem;
    position: relative;
}

.event-content{
  position: relative;
}

.schedule{
  background-image: url(../image/スケジュール１.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 320px; */
  height: 200px;
  /* margin-left: 25px; */
  margin-right: 100px;
  box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 19px 21px 8px 1px rgba(10,10,10,0.02);
  position: relative;
  z-index: 1;
}

.box{
  /* padding: 60px; */
  padding-top: 50px;
}

.box div{
  color: black;
}

/* rivera place */
.place{
  background-color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative;
  top: -60px;
  z-index: 0;
}



/* access */
/* .access{
  background: linear-gradient( rgba(7, 177, 229, 0.7), rgba(7, 177, 229, 0.7) ), url(../image/riviera.jpg);
  background-size: cover;
  background-position: center;
} */


.access img{
  width: auto;
  height: 400px;
}



/* rsvp */
.rsvp{
    background: linear-gradient( rgba(7, 177, 229, 0.7), rgba(226, 216, 200, 1) );
    background-position: center;
    background-size: cover;
}


  